body {
    font-family: 'Poppins', sans-serif;
}

.donate-today {
    text-align: center;
    font-size: 40px;
    color: white;
    background-image: url(images/donation1.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;


}

.link-button {
    text-decoration: none;
    color: white;
    background-color: crimson;
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.amount-of-tk {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}

.tk-box {
    font-size: 32px;
    padding: 40px 25px;
    margin-right: 20px;
    background-color: #f9f9f9;
}

.tk-200 {
    background-color: rgb(203, 84, 63);
}

.amount-button {
    text-align: center;
}

.other-amount {
    text-align: center;
    width: 100%;
    border: none;

    border-bottom: 2px solid rgb(166, 127, 56);

}

.link-button-2 {
    text-decoration: none;
    color: white;
    background-color: crimson;
    padding: 20px 40px;
    border-radius: 15px;

}

.food-family {
    text-align: justify;
    padding: 10px 10px;
    margin-right: 10px;
    align-content: center;
    background-color: bisque;
}

.shelter-family {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
    background-color: burlywood;
}

.child-education {
    text-align: justify;
    padding: 10px 10px;
    margin-left: 10px;
    align-content: center;
    background-color: darkgoldenrod;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 60px;

}

footer {
    color: orange;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    background-color: black;
    background-size: 100%;
}

.humble-footer {
    color: white;
    font-style: normal;
    font-size: 10px;

}

pre {
    text-align: center;
    font-size: 30px;

    border: 30px solid gray;
    padding-left: 20px 5px 20px 10px;
    margin-left: 380px;
    margin-right: 440px;
    background-color: lightcyan;
}